openapi: 3.0.0
info:
  title: Nerdinary 9th Team D
  version: 1.0.0
  description: "Nerdinary 9th Team D 프로젝트입니다."

servers:
  - description: "Nerdinary 9th Team D Local Server"
    url: http://localhost:3000/docs
  - description: "Nerdinary 9th Team D Production Server"
    url: http://3.34.50.209:3000

paths:
  /api/auth/signup:
    post:
      summary: 회원가입
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 닉네임
                password:
                  type: string
                  description: 비밀번호
              required:
                - nickname
                - password
      responses:
        "200":
          description: 회원가입 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
        "409":
          description: 이미 존재하는 사용자
        "500":
          description: 서버 내부 오류

  /api/auth/login:
    post:
      summary: 로그인
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                password:
                  type: string
              required:
                - nickname
                - password
      responses:
        "200":
          description: 로그인 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
        "401":
          description: 로그인 정보 불일치
        "404":
          description: 존재하지 않는 사용자
        "500":
          description: 서버 내부 오류

  /api/user/challenge:
    post:
      summary: 챌린지 참가
      tags:
        - UserChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: integer
                  description: 사용자 ID
                challengeId:
                  type: integer
                  description: 챌린지 ID
              required:
                - userId
                - challengeId
      responses:
        "200":
          description: 챌린지 참가 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      userChallenge:
                        type: object
                        properties:
                          id:
                            type: integer
                          createdAt:
                            type: string
                            format: date-time
                          userId:
                            type: integer
                          challengeId:
                            type: integer
        "404":
          description: 존재하지 않는 사용자 또는 챌린지
        "409":
          description: 이미 참여중인 챌린지
        "500":
          description: 서버 내부 오류

  /api/user/{user_id}/participate:
    get:
      summary: 내가 참여한 챌린지 목록 조회
      tags:
        - UserChallenge
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 사용자 ID
      responses:
        "200":
          description: 사용자 챌린지 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      userChallenges:
                        type: object
                        properties:
                          participants:
                            type: array
                            items:
                              type: object
                              properties:
                                challenge:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    title:
                                      type: string
                                    context:
                                      type: string
                                    createdAt:
                                      type: string
                                      format: date-time
                                    endAt:
                                      type: string
                                      format: date-time
                                    thumbnailUrl:
                                      type: string
        "404":
          description: 존재하지 않는 사용자
        "500":
          description: 서버 내부 오류

  /api/user/check:
    get:
      summary: 닉네임 중복 확인
      tags:
        - User
      parameters:
        - in: query
          name: nickname
          required: true
          schema:
            type: string
          description: 확인할 닉네임
      responses:
        "200":
          description: 닉네임 확인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      isAvailable:
                        type: boolean
        "500":
          description: 서버 내부 오류
  /snap/{challenge_id}/{user_id}:
    post:
      summary: 스냅 생성
      tags:
        - Snap
      parameters:
        - in: path
          name: challenge_id
          required: true
          schema:
            type: integer
          description: 챌린지 ID
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 유저 ID
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 제목
                snap:
                  type: string
                  format: binary
                  description: 이미지 파일
                content:
                  type: string
                  description: 인증샷 설명
              required:
                - title
      responses:
        "200":
          description: 리뷰 생성 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapResponse"
        "400":
          description: 요청 형식 오류
        "404":
          description: 존재하지 않는 챌린지 또는 사용자
        "500":
          description: 서버 내부 오류

  /snaps/challenge/{challengeId}:
    get:
      summary: 특정 챌린지 별 모든 스냅 조회
      tags:
        - Snap
      parameters:
        - in: path
          name: challengeId
          required: true
          schema:
            type: integer
          description: 챌린지 ID
      responses:
        "200":
          description: 챌린지별 인증샷 조회 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SnapImage"

  /snaps/user/{userId}:
    get:
      summary: 특정 유저별 모든 스냅 조회
      tags:
        - Snap
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
          description: 유저 ID
      responses:
        "200":
          description: 유저별 인증샷 조회 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Snap"

  /snap/{snapId}:
    get:
      summary: 개별 스냅 조회
      tags:
        - Snap
      parameters:
        - in: path
          name: snapId
          required: true
          schema:
            type: integer
          description: 스냅 ID
      responses:
        "200":
          description: 스냅 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapDetail"

  /snap/{snap_id}/{user_id}:
    delete:
      summary: 스냅 삭제
      tags:
        - Snap
      parameters:
        - in: path
          name: snapId
          required: true
          schema:
            type: integer
          description: 스냅 ID
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 유저 ID
      responses:
        "200":
          description: 스냅 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      deleteSnap:
                        type: object
                        properties:
                          message:
                            type: string
        "400":
          description: 삭제 권한 없음
        "404":
          description: 존재하지 않는 스냅
        "500":
          description: 서버 내부 오류