openapi: 3.0.0
info:
  title: Nerdinary 9th Team D API
  version: 1.0.0
  description: |
    Nerdinary 9th Team D팀 API 문서입니다.

servers:
  - description: Production Server
    url: https://sihang.kro.kr
  - description: Local Development Server
    url: http://localhost:3000

paths:
  # ===== Auth APIs =====
  /api/auth/signup:
    post:
      summary: 회원가입
      description: 새로운 사용자를 등록합니다.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '200':
          description: 회원가입 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/auth/login:
    post:
      summary: 로그인
      description: 사용자 인증 후 토큰을 발급합니다.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # ===== User APIs =====
  /api/user/check:
    get:
      summary: 닉네임 중복 확인
      description: 회원가입 시 닉네임 중복 여부를 확인합니다.
      tags:
        - User
      security: []
      parameters:
        - in: query
          name: nickname
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 20
          description: 확인할 닉네임
      responses:
        '200':
          description: 닉네임 확인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      isAvailable:
                        type: boolean
                        description: true면 사용 가능, false면 중복
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  # ===== UserChallenge APIs =====
  /api/user/challenge:
    post:
      summary: 챌린지 참가
      description: 사용자가 특정 챌린지에 참가합니다.
      tags:
        - UserChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinChallengeRequest'
      responses:
        '200':
          description: 챌린지 참가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChallengeResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 이미 참여중인 챌린지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/user/{userId}/participate:
    get:
      summary: 내가 참여한 챌린지 목록 조회
      description: 특정 사용자가 참여한 모든 챌린지 목록을 조회합니다.
      tags:
        - UserChallenge
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: 사용자 챌린지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChallengesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # ===== Snap APIs =====
  /api/snap/{challengeId}/{userId}:
  post:
    summary: 스냅 생성
    description: 챌린지 인증샷을 업로드합니다.
    tags:
      - Snap
    parameters:
      - $ref: '#/components/parameters/ChallengeIdParam'
      - $ref: '#/components/parameters/UserIdParam'
    requestBody:
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            required:
              - title
            properties:
              title:
                type: string
                description: 스냅 제목
                maxLength: 100
                example: "오늘의 운동 완료!"
              images:
                type: array
                items:
                  type: string
                  format: binary
                description: 이미지 파일 (JPG, PNG, GIF)
              content:
                type: string
                description: 인증샷 설명
                maxLength: 500
                example: "30분 러닝 완료했습니다!"
    responses:
      '200':
        description: 스냅 생성 완료
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapResponse'
      '400':
        $ref: '#/components/responses/BadRequest'
      '404':
        $ref: '#/components/responses/NotFound'
      '500':
        $ref: '#/components/responses/ServerError'

  /api/snap/challenge/{challengeId}:
    get:
      summary: 특정 챌린지의 모든 스냅 조회
      description: 특정 챌린지에 업로드된 모든 인증샷을 조회합니다.
      tags:
        - Snap
      parameters:
        - $ref: '#/components/parameters/ChallengeIdParam'
      responses:
        '200':
          description: 챌린지별 인증샷 조회 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SnapImage'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/snap/user/{userId}:
    get:
      summary: 특정 유저의 모든 스냅 조회
      description: 특정 유저가 업로드한 모든 인증샷을 조회합니다.
      tags:
        - Snap
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: 유저별 인증샷 조회 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Snap'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/snap/{snapId}:
    get:
      summary: 개별 스냅 조회
      description: 특정 스냅의 상세 정보를 조회합니다.
      tags:
        - Snap
      parameters:
        - $ref: '#/components/parameters/SnapIdParam'
      responses:
        '200':
          description: 스냅 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/snap/{snapId}/{userId}:
    delete:
      summary: 스냅 삭제
      description: 본인이 업로드한 스냅을 삭제합니다.
      tags:
        - Snap
      parameters:
        - $ref: '#/components/parameters/SnapIdParam'
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: 스냅 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      deleteSnap:
                        type: object
                        properties:
                          message:
                            type: string
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # ===== Challenge APIs =====
  /api/challenge/hot:
    get:
      summary: 인기 챌린지 조회
      description: 참가자 100명 이상의 인기 챌린지를 조회합니다.
      tags:
        - Challenge
      security: []
      responses:
        '200':
          description: 인기있는 챌린지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeListResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/challenge/create:
    post:
      summary: 챌린지 생성
      description: 새로운 챌린지를 생성합니다.
      tags:
        - Challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChallengeCreateRequest'
            example:
              title: "퇴근 후 30분 산책 챌린지"
              context: "하루에 최소 30분 걷기"
              endAt: "2025-12-31T23:59:59.000Z"
              thumbnailUrl: "https://example.com/walk.png"
      responses:
        '200':
          description: 챌린지 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/challenge/{challengeId}:
    get:
      summary: 특정 챌린지 조회
      description: challengeId를 기반으로 특정 챌린지를 조회합니다.
      tags:
        - Challenge
      security: []
      parameters:
        - $ref: '#/components/parameters/ChallengeIdParam'
      responses:
        '200':
          description: 챌린지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChallenge'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/challenge/{challengeId}/participants:
    get:
      summary: 챌린지 참가자 목록 조회
      description: 특정 챌린지에 참가한 모든 참가자 목록을 조회합니다.
      tags:
        - Challenge
      parameters:
        - $ref: '#/components/parameters/ChallengeIdParam'
      responses:
        '200':
          description: 챌린지 참가자 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChallengeParticipants'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/challenge/list:
    get:
      summary: 챌린지 리스트 정렬 조회
      description: |
        챌린지 리스트를 정렬해서 조회합니다.
        - `popular="true"` → 참가자 수 많은 순
        - `popular="false"` → 참가자 수 적은 순
        - `latest="new"` → 최신 생성 순
        - `latest` 생략 → 오래된 순
      tags:
        - Challenge
      security: []
      parameters:
        - name: popular
          in: query
          required: false
          description: 인기순 정렬 여부
          schema:
            type: string
            enum: ["true", "false"]
        - name: latest
          in: query
          required: false
          description: 최신순 정렬 여부
          schema:
            type: string
            enum: ["new"]
      responses:
        '200':
          description: 챌린지 리스트 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChallengeList'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/challenge/today:
    get:
      summary: 진행중인 챌린지 조회
      description: 현재 진행중인 모든 챌린지를 조회합니다.
      tags:
        - Challenge
      security: []
      responses:
        '200':
          description: 진행중인 챌린지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeListResponse'
        '500':
          $ref: '#/components/responses/ServerError'

# ===== Components =====
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 토큰을 Bearer 형식으로 입력

  parameters:
    UserIdParam:
      in: path
      name: userId
      required: true
      schema:
        type: integer
        minimum: 1
      description: 사용자 ID
      
    ChallengeIdParam:
      in: path
      name: challengeId
      required: true
      schema:
        type: integer
        minimum: 1
      description: 챌린지 ID
      
    SnapIdParam:
      in: path
      name: snapId
      required: true
      schema:
        type: integer
        minimum: 1
      description: 스냅 ID

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "요청 형식이 올바르지 않습니다."
            statusCode: 400
            
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "인증이 필요합니다."
            statusCode: 401
            
    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "해당 작업에 대한 권한이 없습니다."
            statusCode: 403
            
    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "요청한 리소스를 찾을 수 없습니다."
            statusCode: 404
            
    Conflict:
      description: 리소스 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "이미 존재하는 리소스입니다."
            statusCode: 409
            
    ServerError:
      description: 서버 내부 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "서버 내부 오류가 발생했습니다."
            statusCode: 500

  schemas:
    # ===== Request Schemas =====
    SignupRequest:
      type: object
      required:
        - nickname
        - password
      properties:
        nickname:
          type: string
          minLength: 2
          maxLength: 20
          description: 사용자 닉네임
          example: "challenger123"
        password:
          type: string
          minLength: 8
          maxLength: 100
          description: 비밀번호 (8자 이상)
          example: "password123!"
          
    LoginRequest:
      type: object
      required:
        - nickname
        - password
      properties:
        nickname:
          type: string
          description: 사용자 닉네임
          example: "challenger123"
        password:
          type: string
          description: 비밀번호
          example: "password123!"
          
    JoinChallengeRequest:
      type: object
      required:
        - userId
        - challengeId
      properties:
        userId:
          type: integer
          description: 사용자 ID
          example: 1
        challengeId:
          type: integer
          description: 챌린지 ID
          example: 3
          
    CreateSnapRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: 스냅 제목
          maxLength: 100
          example: "오늘의 운동 완료!"
        images:
          type: string
          format: binary
          description: 이미지 파일 (JPG, PNG, GIF)
        content:
          type: string
          description: 인증샷 설명
          maxLength: 500
          example: "30분 러닝 완료했습니다!"
          
    ChallengeCreateRequest:
      type: object
      required:
        - title
        - endAt
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
          description: 챌린지 제목
          example: "매일 1만보 걷기 챌린지"
        context:
          type: string
          maxLength: 500
          description: 챌린지 설명
          example: "건강한 생활을 위해 매일 1만보씩 걸어요!"
        endAt:
          type: string
          format: date-time
          description: 챌린지 종료 일시
          example: "2025-12-31T23:59:59.000Z"
        thumbnailUrl:
          type: string
          format: uri
          description: 썸네일 이미지 URL
          example: "https://example.com/thumbnail.jpg"

    # ===== Response Schemas =====
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "오류가 발생했습니다."
        statusCode:
          type: integer
          example: 400
          
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "인증 성공"
        data:
          type: object
          properties:
            id:
              type: string
              example: "1"
            token:
              type: string
              description: JWT 토큰 (로그인 시에만)
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              
    UserChallengeResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            userChallenge:
              type: object
              properties:
                id:
                  type: integer
                createdAt:
                  type: string
                  format: date-time
                userId:
                  type: integer
                challengeId:
                  type: integer
                  
    UserChallengesResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            userChallenges:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      challenge:
                        $ref: '#/components/schemas/Challenge'
                        
    ChallengeListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "챌린지 조회 성공"
        data:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Challenge'
              - type: object
                properties:
                  _count:
                    type: object
                    properties:
                      participants:
                        type: integer
                        description: 참가자 수
                        example: 150

    SnapResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "스냅 생성 완료"
        data:
          $ref: '#/components/schemas/Snap'

    ApiResponseChallenge:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/Challenge'
          
    ApiResponseChallengeParticipants:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChallengeParticipant'
            
    ApiResponseChallengeList:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Challenge'

    # ===== Model Schemas =====
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nickname:
          type: string
          example: "alice"
        password:
          type: string
          example: "********"
          description: 해시된 비밀번호
        createdAt:
          type: string
          format: date-time
          example: "2025-11-23T03:26:47.000Z"

    Challenge:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "30일 사진 챌린지"
        context:
          type: string
          example: "매일 사진 찍기"
        createdAt:
          type: string
          format: date-time
          example: "2025-11-23T03:26:47.000Z"
        endAt:
          type: string
          format: date-time
          example: "2025-12-23T03:26:47.000Z"
        thumbnailUrl:
          type: string
          format: uri
          example: "https://example.com/thumb1.jpg"

    Snap:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "첫 인증샷!"
        content:
          type: string
          nullable: true
          example: "오늘 운동 완료 인증샷"
        imageUrl:
          type: string
          nullable: true
          format: uri
          example: "https://example.com/snap1.png"
        userId:
          type: integer
          example: 1
        challengeId:
          type: integer
          example: 1
        createdAt:
          type: string
          format: date-time
          example: "2025-11-23T03:26:47.000Z"

    SnapImage:
      type: object
      properties:
        id:
          type: integer
        imageUrl:
          type: string
          nullable: true
          format: uri
        title:
          type: string
        content:
          type: string
          nullable: true
        userId:
          type: integer
        challengeId:
          type: integer
        createdAt:
          type: string
          format: date-time

    SnapDetail:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        content:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
          format: uri
        user:
          $ref: '#/components/schemas/User'
        challenge:
          $ref: '#/components/schemas/Challenge'
        createdAt:
          type: string
          format: date-time

    ChallengeParticipant:
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date-time
        imageUrl:
          type: string
          nullable: true
          format: uri
        title:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        userId:
          type: integer
        challengeId:
          type: integer
        user:
          $ref: '#/components/schemas/User'